* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    padding: 2.5rem;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 30%);
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    overflow: hidden;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-grp {
    /* display: flex;
    flex-direction: column; */
    margin-bottom: 20px;
    position: relative;
}

label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #555;
    font-weight: 600;
}

input {
    font-size: 14px;
    border-radius: 8px;
    border: 2px solid #f0f0f0;
    padding: 8px;
    width: 100%;
}

input:focus {
    outline: none;
    border-color: #3498db;
}

small {
    visibility: hidden;
    position: absolute;
    bottom: -18px;
    left: 0;
    font-size: 12px;
}

button {
    width: 100%;
    padding: .8rem;
    border-radius: .5rem;
    border: none;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    /* font-weight: 600; */
    font-size: 1rem;
    transition: all .3s;
}

button:hover {
    background-color: #2980b9;
}


.form-grp.error input {
    border-color: #e74c3c;
}

.form-grp.success input {
    border-color: #2ecc71;
}

.form-grp.error small {
    visibility: visible;
    color: #e74c3c;
}